<mat-card class="mat-elevation-z8">
    <mat-card-header>
        <mat-card-title>
            <h2>Nuevo Evento</h2>
        </mat-card-title>
    </mat-card-header>

    <!-- formGroup 'eventoForm' -->
    <form [formGroup]="eventoForm" (ngSubmit)="saveEvento()" novalidate>
        <mat-card-content>

            <!-- Tab Group -->
            <mat-tab-group>
            
                <!-- Tab Encabezado -->
                <mat-tab label="Encabezado" >
                    <div class="tabEncabezado">

                        <!-- formControl 'lugar' -->
                        <mat-form-field>
                            <mat-label>Lugar</mat-label>
                            <mat-select formControlName="lugarId" (selectionChange)="getSalonesByLugar()">
                                <mat-option *ngFor="let lugar of lugares" [value]="lugar._id">{{ lugar.nombre }}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <!-- formControl 'salon' -->                
                        <mat-form-field >
                            <mat-label>Salón</mat-label>
                            <mat-select formControlName="salon">
                                <mat-option *ngFor="let salon of salones" [value]="salon">{{ salon.nombre }}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <!-- formControl 'fechaEvento' -->
                        <mat-form-field >
                            <input formControlName="fechaEvento"
                                   [matDatepicker]="picker"
                                   placeholder="Fecha"
                                   matInput>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker touchUi #picker></mat-datepicker>
                        </mat-form-field>

                        <!-- formControl 'valorPack' -->
                        <mat-form-field>
                            <mat-label>Valor pack</mat-label>
                            <input formControlName="valorPack" placeholder="Valor pack" matInput>
                        </mat-form-field>

                
                    </div>
                </mat-tab>

                <!-- Tab Adicionales -->
                <mat-tab label="Adicionales">

                    <!-- formArray adicionales -->
                    <mat-card formArrayName="adicionales">
                        <div *ngFor="let adicional of eventoForm.controls['adicionales'].controls; let i=index">

                            <!-- row divider show for every nex row exclude if first row -->
                            <mat-divider *ngIf="eventoForm.controls['adicionales'].controls.length > 1 && i > 0"></mat-divider><br>
                            
                            <!-- formGroup adicional 'i' -->
                            <div [formGroupName]="i">
                                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="1%">

                                    <!-- formField 'linea' -->
                                    <mat-form-field fxFlex="5%" fxFlex.xs="20">
                                        <mat-label>N°</mat-label>
                                        <input [disabled]="true" placeholder="No." [value]="i + 1" matInput>
                                    </mat-form-field>

                                    <!-- formControl 'cantidad' -->
                                    <mat-form-field fxFlex="5%" fxFlex.xs="20">
                                        <mat-label>Cant.</mat-label>
                                        <input formControlName="cantidad" type="number" placeholder="Cantidad" matInput>
                                    </mat-form-field>
                            
                                    <!-- formControl 'equipo' -->
                                    <mat-form-field fxFlex="20%" fxFlex.xs="20">
                                        <mat-label>Equipo</mat-label>
                                        <mat-select formControlName="equipo">
                                            <mat-option *ngFor="let equipo of equipos" [value]="equipo">{{ equipo.descripcion }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                            
                                    <!-- formControl 'observaciones' -->
                                    <mat-form-field fxFlex="20%" fxFlex.xs="20">
                                        <mat-label>Observaciones</mat-label>
                                        <input formControlName="observaciones" maxlength=50 placeholder="Observaciones" matInput>
                                    </mat-form-field>
                            
                                    <!-- formControl 'pcioUnit' -->
                                    <mat-form-field fxFlex="10%" fxFlex.xs="20">
                                        <mat-label>Precio unit.</mat-label>
                                        <input formControlName="pcioUnit" placeholder="Precio unit." matInput>
                                    </mat-form-field>
                            
                                    <!-- formControl 'subtotal' -->
                                    <mat-form-field fxFlex="10%" fxFlex.xs="20">
                                        <mat-label>Subtotal</mat-label>
                                        <input formControlName="subtotal" placeholder="Subtotal" matInput>
                                    </mat-form-field>
                            
                                    <!-- formControl 'pcioVtaDJ' -->
                                    <mat-form-field fxFlex="10%" fxFlex.xs="20">
                                        <mat-label>Precio Vta DJ</mat-label>
                                        <input formControlName="pcioVtaDJ" placeholder="Precio Vta DJ" matInput>
                                    </mat-form-field>
                            
                                    <!-- formControl 'markUp' -->
                                    <mat-form-field fxFlex="5%" fxFlex.xs="20">
                                        <mat-label>Mark Up</mat-label>
                                        <input formControlName="markUp" placeholder="Mark Up" matInput>
                                    </mat-form-field>

                                    <!-- row delete button, hidden if there is just one row -->
                                    <button type="button" mat-mini-fab color="warn" fxFlex="nogrow" *ngIf="eventoForm.controls['adicionales'].controls.length > 1"
                                        (click)="removeAdicional(i)">
                                        <mat-icon>delete</mat-icon> 
                                    </button>

                                </div>    
                            </div>

                        </div>

                        <mat-card-actions>
                        <!-- agregar adicional -->
                        <button type="button" mat-raised-button color="primary" (click)="addAdicional()">
                            <mat-icon>add box</mat-icon>
                        </button>
                        <!-- borrar todos los adicionales -->
                        <button type="button" mat-raised-button color="warn" (click)="clearAllAdicionales()">
                            <mat-icon>remove_circle_outline</mat-icon>
                        </button>
                        </mat-card-actions>

                    </mat-card>

                </mat-tab>

            </mat-tab-group>

            <mat-divider></mat-divider><br>

            <h3>Resumen</h3>

            <div class="table-container">
                <mat-card>
                <table mat-table [dataSource]="totalesDataSource" class="mat-elevation-z5">
                    
                    <ng-container matColumnDef="label">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let total"> {{total.label}} </td>
                    </ng-container>

                    <ng-container matColumnDef="tecnica">
                        <th mat-header-cell *matHeaderCellDef> Técnica 60% </th>
                        <td mat-cell *matCellDef="let total"> {{total.tecnica | myCurrency}} </td>
                    </ng-container>

                    <ng-container matColumnDef="DJ">
                        <th mat-header-cell *matHeaderCellDef> DJ 25% </th>
                        <td mat-cell *matCellDef="let total"> {{total.DJ | myCurrency}} </td>
                    </ng-container>

                    <ng-container matColumnDef="comision">
                        <th mat-header-cell *matHeaderCellDef> Comisión 15% </th>
                        <td mat-cell *matCellDef="let total"> {{total.comision | myCurrency}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="totalesDisplayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: totalesDisplayedColumns;"></tr>

                </table>    
                </mat-card>
            </div>

            <br>

            <!-- Form submit button -->
            <mat-card-actions>
                <button mat-raised-button
                        [disabled]="eventoForm.invalid"
                        type="submit"
                        color="primary">
                    <mat-icon>save</mat-icon>
                    Guardar
                </button>
            </mat-card-actions>
        
        </mat-card-content>
    </form>

</mat-card>