<section class="login-container" style="background-image:url(assets/images/login-background.jpg);">
    <div class="login-menu card">
        <div class="card-body">
            <form ngNativeValidate #f="ngForm" (ngSubmit)="ingresar(f)">
                <div class="text-center login-img"><img src="assets/images/logo-icon.jpg"></div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input [ngModel]="email" name="email" class="form-control" type="email" placeholder="Correo electrónico" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input ngModel name="password" class="form-control" type="password" placeholder="Contraseña" required >
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <input [(ngModel)]="recuerdame" name="recuerdame" id="checkbox-signup" type="checkbox">
                        <label for="checkbox-signup"> Recordar mis datos </label>
                    </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase btn-rounded"
                            type="submit">Ingresar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>