<mat-card>

    <img mat-card-image class="center-img" src="assets/images/logo-icon.jpg">

    <mat-card-content>

        <form [formGroup]="loginForm" (ngSubmit)="login()">

            <mat-form-field>
                <input matInput formControlName="email" type="email" placeholder="Correo electrónico" autofocus>
            </mat-form-field>

            <mat-form-field>
                <input matInput formControlName="password" type="password" placeholder="Contraseña">
            </mat-form-field>

            <mat-checkbox formControlName="recordarme">Recordar mis datos</mat-checkbox>
            
            <button mat-raised-button type="submit" color="primary">Ingresar</button>
            
        </form>

    </mat-card-content>

</mat-card>