    <div class="example-container mat-elevation-z8">

        <h1>{{ pageTitle }}</h1>

        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="2.5%" fxLayoutAlign="left">
            <div fxLayout="row" fxLayoutAlign="start center">
                <button mat-raised-button color="primary" matTooltip="Nuevo {{ modelName }}" (click)="openDialog('Create', {})">
                    <mat-icon>add</mat-icon> Nuevo
                </button>
            </div>

            <mat-form-field class="example-full-width">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
            </mat-form-field>            
        </div>


        <div class="table-container mat-elevation-z1">

            <table mat-table [dataSource]="dataSource" matSort class="example-full-width">

                <!-- Position -->
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
                    <td mat-cell *matCellDef="let element; let i = index">{{ paginator.pageIndex*paginator.pageSize + i + 1 }}</td>
                </ng-container>

                <!-- Displayed Columns -->
                <ng-container [matColumnDef]="tableData" *ngFor="let tableData of objectKeys(columnHeader)">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ columnHeader[tableData] }} </th>
                    <td mat-cell *matCellDef="let element"> {{ element[tableData] }}</td>
                    </ng-container>

                <!-- Actions -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Acciones</th>
                    <td mat-cell *matCellDef="let element" class="action-link">
                        <button mat-icon-button color="accent" matTooltip="Editar {{ modelName }}" (click)="openDialog('Update', element)">
                            <mat-icon >edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" matTooltip="Eliminar {{ modelName }}" (click)="openDialog('Delete', element)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[4, 8, 12]" showFirstLastButtons></mat-paginator>

        </div>
        
    </div>
